.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002C35;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
}

.nav-box{
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #002C35;
  color: white;
  gap: 1rem;
  font-size: 20px;
}

.nav-box .img-container{
  width: 15%;
  display: flex;
  padding-left: 0;
}

.nav-box .img-container img{
  height: 60px;
}

.nav-box ul{
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
  width: 50%;
}

.list{
  display: flex;
  width: 100%;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  width: 50%;
}

.icons a i{
  font-size: 24px;
}

.main{
  margin-top: 4rem;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.all{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.videos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.videos-box{
  width: 80%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.video-container {
  border-radius: 15px;
  overflow: hidden;
  height: fit-content;
}


.shorts{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.shorts-box{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 2rem;
  border-radius: 15px;
  overflow: hidden;
  height: fit-content;
}

a{
  color: white;
  text-decoration: none;
  padding: 1px;
  border-radius: 5px;
  /* min-width: 50px; */
  text-align: center;
  padding-left: 5px;
  padding-right: 10px;
}

.active{
  border-bottom: 2px solid white;
  background-color: white;
  color: #002C35;
}


@media only screen and (max-width: 560px) {
  .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002C35;
  }
  
  .nav-box{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color:#002C35;
    color: white;
    gap: 1rem;
    font-size: 20px;
    
  }

  .nav-box ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 60%;
  }

  
.nav-box .img-container{
  width: 15%;
  display: flex;
  justify-content: center;
  padding-left: 0;
  /* border: 1px solid black; */
}

.icons{
  display: none;
  justify-content: flex-end;
}

.small-nav{
  position: fixed;
    top: 5rem;
  display: flex;
  width: 100%;
  gap: 2rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.small-nav a i{
  color: #002C35;
  font-size: 24px;
}


a{
  color: white;
  text-decoration: none;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

.active{
  border-bottom: 2px solid white;
  color: #002C35;
}

  .videos-box{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;

  }

  .shorts-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 2rem;
    border-radius: 15px;
    overflow: hidden;
    height: fit-content;
  }

  .main{
    margin-top: 8rem;
    width: 100%;
  }
}